@media screen and (max-width: 480px) {

    .container-calculator {
        position: fixed;
        justify-content: start;
    }

    .title {
        font-size: 25px;
    }

    .container-buttons {
        grid-template-columns: repeat(4, 40px);
        grid-auto-rows: 40px;
        grid-gap: 3px;
    }

    .display {
        padding: 0 10px 0 10px;

        font-size: 15px;
        font-weight: 400;
    }

    .clean-btn {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }

    .container-footer {
        gap: 3px;
        padding-top: 2px;
    }

    .git-hub {
        width: 60px;
        height: 25px;
        gap: 0;
        padding: 1px 1px 1px 5px;
    }

    .git-hub > a {
        font-size: 12px;
    }

    .git-hub::before {
        display: none;
    }

    .switcher-theme {
        width: 90px;
        height: 25px;
        gap: 0;
        padding: 1px 1px 1px 5px;

        font-size: 12px;
    }

    .switcher-theme::before {
        display: none;
    }

}