@media screen and (max-width: 768px) {

    .container-calculator {
        justify-content: flex-start;

    }

    .title {
        font-size: 30px;
    }

    .container-footer {
        flex-direction: column;
        width: 200%;
    }

    .git-hub {
        padding: 1px 6px 1px 8px;
        width: clamp(10%, 220%, 220%);
    }

    .git-hub > a {
        padding-left: 3px;
        font-size: 12px;
    }

    .switcher-theme {
        font-size: 12px;
    }

}