.dark {
    --theme: #141313;

    --background-btn: #2f3332;
    --box-shadow-btn: #393d3c;
    --background-btn-hover: #2a2d2c;

    --btn-clean: #b71c1c;
    --box-shadow-btn-clean: #b02020;
    --clean-hover: #961a1a;
    --clean-active: #771616;

    --btn-footer: #272424;
    --btn-footer-hover: #1c1919;

    --text-placeholder: #555857;
    --text-primary: #ffffff;
    --text-primary-light: #ffffff;

    --btn-light: #ffffff;
    --btn-hover: #d2faf8;

    --btn-clean-hover: #984543;

    --text-primary-dark: #2f3332;
}

.light {
    --theme: #1ce7dd;

    --background-btn: #ffffff;
    --background-btn-hover: #d2faf8;

    --text-primary: #2f3332;
}
