body {
    margin: 0 15px;
    padding: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.overlay-dark {
    background-color: var(--theme);
    transition: .5s
}

.container-calculator {
    max-width: 100%;
    width: 350px;
    height: 100%;
    max-height: 420px;
}

.title {
    display: flex;
    justify-content: center;

    color: var(--text-primary-light);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(35px, 6vw, 50px);
    font-weight: 100;

    margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.container-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;

    grid-gap: 5px;
}

.display {
    background-color: var(--background-btn);
    border: none;
    border-radius: 6px;
    padding: 0 15px 0 20px;

    grid-column: 1 / 4;

    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: var(--text-placeholder);
    user-select: none;
}

.display:focus {
    outline: none;
}

.clean-btn {
    background-color: var(--btn-clean);
    color: var(--text-primary-light);
    box-shadow: 2px 2px 1px var(--box-shadow-btn-clean);
    border: none;
    border-radius: 6px;
    padding: 0;

    font-family: "Segoe UI";
    font-size: 20px;

    cursor: pointer;
    user-select: none;
}

.clean-btn:active {
    box-shadow: 2px 2px 1px var(--clean-active);
}

.clean-btn:hover {
    background-color: var(--clean-hover);
}

.button {
    background-color: var(--background-btn);
    color: var(--text-primary);
    box-shadow: 2px 2px 1px var(--box-shadow-btn);
    border: none;
    border-radius: 6px;
    padding: 0;

    font-size: 20px;

    cursor: pointer;
    user-select: none;
}

.button:active {
    box-shadow: 1px 1px 1px var(--box-shadow-btn);
}

.button:hover {
    background-color: var(--background-btn-hover);
}

.container-footer {
    display: flex;
    gap: 5px;

    width: 100%;
    max-width: 350px;

    max-height: 40px;
    height: 100%;

    padding-top: 5px;
}

.git-hub {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 5px;
    padding: 1px 6px 1px 6px;

    background-color: var(--btn-footer);
    transition: .2s linear;
    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.git-hub > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary-light);
    font-size: clamp(16px, 5vw, 20px);
    padding-top: 2px;
    width: 100%;
    height: 100%;
}

.git-hub:hover {
    background-color: var(--btn-footer-hover);
    transition: .2s linear;
}

.git-hub::before {
    content: "";
    background: url("../assets/GitHub.svg") no-repeat center;
    background-size: contain;
    width: 25px;
    height: 18px;
}

.switcher-theme {
    display: flex;
    align-items: center;
    height: 40px;

    gap: 5px;
    padding: 1px 6px 1px 6px;

    background-color: var(--btn-footer);
    transition: .2s linear;
    border: none;
    border-radius: 6px;

    color: var(--text-primary-light);
    font-size: clamp(16px, 5vw, 20px);

    cursor: pointer;
}

.switcher-theme:hover {
    background-color: var(--btn-footer-hover);
    transition: .2s linear;
}

.switcher-theme::before {
    content: "";
    background: url("../assets/Sun.svg") no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.moon::before {
    content: "";
    background: url("../assets/Moon.svg") no-repeat center;
    background-size: contain;
    width: 24px;
    height: 24px;
}

.clean-one-symbol {
    width: 60px;

    background-color: var(--btn-footer);
    transition: .2s linear;
    border: none;
    border-radius: 6px;

    color: var(--text-primary-light);
    font-size: 25px;
}

/* Mobile */
@media screen and (max-width: 768px) {

    body {
        justify-content: flex-start;
    }

}